/* body {
  color: navy;
  border-style: solid;
  border-width: 20;
  border-color: white
} */

/* h1, h1>a {
  color: brown
} */

/* sup {
  font-size: small;
  color: navy
} */

/* a:hover {
  background-color: yellow;
  color: red
} */
/* 
#header {
  width: 90%;
  display: flex;
  justify-content: space-between;
} */

.openseadragon {
  width: 75%;
  height: 80vh;
  border: 1px solid black;
  color: #333;
  background-color: black;
}

#viewer {
  position: relative;
  display: flex;
  flex-direction: column;
}

#welcomeMsg {
  display: none;
  font-size:large;
  margin-top: 1.5rem;
  margin-block-end: 0;
}

#gridContainer {
  display: grid;
  grid-template-columns: max-content max-content;
  column-gap: 2rem;
}

#imageURLTextboxParent {
  margin: auto;
}

#imageParams {
  margin: auto;
  display: grid;
  grid-template-columns: 16rem 16rem;
  grid-template-rows: auto auto auto auto;
  grid-gap: 10px;
}

#imageParams label {
  margin-right: 0.25rem;
}

#imageURLInp {
  margin-bottom: 10px;
}

#imageURLInput {
  width: 500px;
}

#imageWInp {
  grid-column-start: 1;
  grid-column-end: 3;
}

label[for="imageURLInput"] {
  padding-right: 0.5rem
}

#imageURLSubmit {
  margin: -3px 0 0 0;
}

#progressBarContainer {
  position: relative;
  left: 0;
  top: 0;
  opacity: 0;
  width: 100%;
  z-index: 190;
  transition: opacity 0.4s;
}

#progressBar {
  width:0%;
  background: #0061d5;
  box-shadow: 0 1px 5px 0 #e4f4ff;
  height: 3px;
  max-width: 75%;
  transition: width 0.2s linear;
}
